<section class="container">
    <article class="row justify-content-center">
        <div class="col-md-6">

            <h2>Create an account:</h2>
            <br>
            <form action="/signup" method="POST">

                <div class="form-group">
                    <label for="usernameInput" {{#if errorMsg1}}class="label-invalid" {{/if}}
                        {{#if errorMsg2}}class="label-invalid" {{/if}}>Username:</label>
                    <input name="username" type="text"
                        class="form-control {{#if errorMsg1}}is-invalid{{/if}} {{#if errorMsg2}}is-invalid{{/if}}"
                        id="usernameInput" aria-describedby="usernameHelp">
                    <small id="usernameHelp" class="form-text text-muted">Required field.</small>
                </div>
                <div class="form-group">
                    <label for="pswdInput" {{#if errorMsg1}}class="label-invalid" {{/if}}>Password:</label>
                    <input name="password" type="password" class="form-control {{#if errorMsg1}}is-invalid{{/if}}"
                        id="pswdInput" aria-describedby="passwordHelp">
                    <small id="passwordHelp" class="form-text text-muted">Required field.</small>
                </div>
                <div class="form-group">
                    <label for="emailInput">Email:</label>
                    <input name="email" type="email" class="form-control" id="emailInput">
                </div>
                <div class="form-group">
                    <label for="nameInput" {{#if errorMsg1}}class="label-invalid" {{/if}}>Name:</label>
                    <input name="name" type="text" class="form-control {{#if errorMsg1}}is-invalid{{/if}}"
                        id="nameInput" aria-describedby="nameHelp">
                    <small id="nameHelp" class="form-text text-muted">Required field.</small>
                </div>
                <div class="form-group">
                    <label for="aboutInput">About:</label>
                    <input name="about" type="text" class="form-control" id="aboutInput">
                </div>
                <div class="form-group">
                    <label for="imgInput">Profile picture:</label>
                    <input name="img" type="text" class="form-control" id="imgInput" value="{{user.img}}"
                        aria-describedby="imgHelp">
                    <small id="imgHelp" class="form-text text-muted">Please, include the link to your preferred
                        picture.</small>
                </div>

                <button type="submit" class="btn btn-info btn-block">Submit</button>

                {{#if errorMsg1}}
                <p style="margin-top: 10px; background: #dc3545; color: white; text-align: center; padding: 10px">
                    {{errorMsg1}}</p>
                {{/if}}
                {{#if errorMsg2}}
                <p style="margin-top: 10px; background: #dc3545; color: white; text-align: center; padding: 10px">
                    {{errorMsg2}}</p>
                {{/if}}
                {{#if errorMsg}}
                <p style="margin-top: 10px; background: #dc3545; color: white; text-align: center; padding: 10px">
                    {{errorMsg}}</p>
                {{/if}}

            </form>

        </div>
    </article>
</section>