<div class="col-md-6">
    <a href="/series/{{list.db_id}}">
        {{#if list.poster_path}}
        <img src='https://image.tmdb.org/t/p/w300{{list.poster_path}}' alt="{{list.name}}">
        {{/if}}
        <h6>{{list.name}}</h6>

    </a>
</div>