<section class="container">

    <article class="row justify-content-center">

        {{#each actors}}

        <div class="col-md-3">

            <h4>{{this.name}}</h4>
            <p>{{this.description}}</p>

        </div>

        {{/each}}

    </article>

</section>