<section class="container">

    <article class="row justify-content-center">

        <div class="col-md-8">

            <h1>Welcome to {{siteTitle}}</h1>
            <hr>
            <h6>What would you like to do?</h6>
            <br>
            <a href="/movies" class="btn btn-info">See all movies</a>
            <a href="/series" class="btn btn-info">See all TV series</a>
            <a href="/actors" class="btn btn-info">See all actors</a>
            <a href="/directors" class="btn btn-info">See all directors</a>

            {{#if isLogged}}
            <a href="/profile" class="btn btn-info">Go to my profile</a>
            {{/if}}
            
        </div>

    </article>

</section>