$shadow: 5px 5px 8px #262f43d4;
$border-radius: 5px;
$btn-color: rgb(53, 115, 154);
$btn-darker: rgb(29, 76, 104);
$visual-height: 100vh;




// GLOBAL STYLES

body {
  font-family: sans-serif;
  font-weight: 100;
  color: white;
}

img {
  object-fit: cover;
  width: 100%;
  border-radius: $border-radius;
}

main {
  padding: 100px 0;
  min-height: $visual-height;
  background-color: rgb(5, 18, 50);
}

.navbar {
  //border-bottom: 2px solid $btn-darker;
  background-color: $btn-color;
  box-shadow: 0 3px 3px $btn-darker;
  width: 100%;
  padding: 10px 20px;

  a {
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;

    &:hover {
      color: $btn-darker;
    }
  }

  .navbar-brand {
    font-size: 18px;
    font-weight: 400;
    text-transform: lowercase;
  }
}

hr {
  margin: 20px 0;
  border-color: rgba(211, 211, 211, 0.55);
}

h1 {
  font-size: 120px;
  margin-bottom: 100px;
}

h2 {
  text-align: center;
}

h5 {
  font-weight: 100;
}

a {
  color: gray;

  &:hover {
    color: $btn-color;
    text-decoration: none;
  }
}

.label-invalid {
  color: #dc3545;
  font-weight: 400;
}




// HOMEPAGE

.hero {
  margin: 100px 0 40px;
  
    h2 {
      font-size: 60px;
      margin-bottom: 40px;
    }
  
  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.carousel {
  margin-top: 50px;
}




// CONTENTS INDEX PAGES

.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  background-color: rgba(211, 211, 211, 0.55);
  border-radius: $border-radius;
  width: 100%;
  padding: 10px 0 6px 0;
  margin-bottom: 20px;
}

.data-card {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  img {
    box-shadow: $shadow;
    margin-bottom: 5px;
  }
}

// Contents details pages

.details-card {
  border: 1px solid #b3b3b3;
  padding: 15px 20px;
  border-radius: $border-radius;
  
  h2 {
    text-align: left;
    font-weight: 100;
    margin-bottom: 10px;
  }
  
  h6 {
    font-weight: 100;
    font-style: italic;
    margin-bottom: 20px;
  }
  
  p {
    margin-right: 15px;
  }
  
  .emphasis1 {
    display: flex;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
  }

  .emphasis2 {
    display: flex;
  }
}

.rel-data-card {
  text-align: center;
  margin-top: 40px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  img {
    box-shadow: $shadow;
    margin-bottom: 5px;
  }
}




// USER PROFILE PAGE

.user {
  h2 {
    text-align: left;
  }
}

.user-details {
//  margin-bottom: 40px;
  img {
    width: 170px;
    height: 170px;
    margin-right: 20px;
  }

  .user-info {
    display: flex;
    justify-content: left;
    padding-right: 100px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.btn-add-new {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 40px;
}

.user-columns {
  text-align: center;
  
  p {
    margin-bottom: 5px;
    font-style: italic;
  }
  
  img {
    box-shadow: $shadow;
    margin-bottom: 5px;
  }
  
  h5 {
    font-size: 18px;
    text-transform: uppercase;
  }
  
  h6 {
    margin-top: 10px;
    font-weight: 100;
  }
}

// User's lists

.redirect {
  text-transform: uppercase;
  margin: 0 20px 0 0;
  font-size: .9rem;
  font-weight: 500;
}

.list-column {
  margin-top: 40px;
  text-align: center;
  
  img {
    box-shadow: $shadow;
    margin-bottom: 5px;
  }
  
  h6 {
    margin-top: 10px;
    font-weight: 100;
    font-size: 18px;
  }
  
  .indiv-card {
    margin-bottom: 40px;
  }
}




// BUTTONS

.btn-info {
  border-color: $btn-color;
  background-color: $btn-color;
  margin: 10px 0;
  font-weight: 100;

  &:hover {
    background-color: $btn-darker;
    border-color: $btn-darker;
  }
  
  &:active:focus {
    background-color: $btn-darker !important;
    border-color: $btn-darker !important;
  }
}

.small-btn {
  height: 50px;
  width: 50px;
}
