<section class="container">
    <h2>Series</h2>

    <article class="row justify-content-center">
        {{#each TVshows}}

        <div class="col-md-3">

            <h4>{{title}}</h4>
            <p>{{overview}}</p>

        </div>

        {{/each}}

    </article>

</section>