<section class="container">

    <h2>Actors</h2>

    <article class="row justify-content-center">

        {{#each allActors}}

        <div class="card" style="width: 14rem; margin: 25px;">

            <img class="card-img-top" src='https://image.tmdb.org/t/p/w300{{profile_path}}' alt="actor image cap">

            <div class="card-body">

                <h5 class="card-title">{{name}}</h5>
                <a href="/actors/{{id}}" class="btn btn-info btn-block">Details</a>

            </div>

        </div>

        {{/each}}

    </article>

</section>