<section class="container">

    <h2 class="title">Actors</h2>
    <br>

    <form action="/actors" method="POST" class="input-group mb-3">
        <input name="search" type="text" class="form-control" placeholder="Search an actor or actress..."
            aria-describedby="search-actor">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-actor">Search</button>
        </div>
    </form>



    {{#if searchResults}}
    <br>
    <hr>
    <h4>Search results:</h4>

    <article class="row justify-content-center">

        {{#each searchResults}}

        {{>actorCard}}

        {{/each}}

    </article>

    {{/if}}

    {{#if allActors}}

    <article class="row justify-content-center">

        {{#each allActors}}

        {{>actorCard}}

        {{/each}}

    </article>

    {{/if}}

</section>