<section class="container">
    <h2>Actors</h2>

    <article class="row justify-content-center">
        {{#each allActors}}
        <div class="card" style="width: 16rem; margin: 40px;">
            <img class="card-img-top" src='https://image.tmdb.org/t/p/w300{{profile_path}}' alt="actor image cap">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>

                <a href="/actor?actor_id={{id}}" class="btn btn-dark"
                    style="display: block; text-align; background-color:#18A2B8; border: none">Details</a>
            </div>
        </div>

        {{/each}}

    </article>

</section>