<section class="container">

    <h2>Directors</h2>

    <article class="row justify-content-center">

        {{#each allDirectors}}

        {{>directorCard}}

        {{/each}}

    </article>

</section>