<section class="container">
    <h2>Movies</h2>

    <article class="row justify-content-center">
        {{#each movies}}

        <div class="col-md-3">

            <h4>{{this.title}}</h4>
            <p>{{this.overview}}</p>

        </div>

        {{/each}}

    </article>

</section>