<section class="container">

    <h2 class="title">Movies</h2>
    <br>

    <form action="/movies" method="POST" class="input-group mb-3">
        <input name="search" type="text" class="form-control" placeholder="Search a movie..."
            aria-describedby="search-movie">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-movie">Search</button>
        </div>
    </form>


    {{#if searchResults}}
    <br>
    <hr>
    <h4>Search results:</h4>

    <article class="row justify-content-center">

        {{#each searchResults}}

        {{>movieCard}}

        {{/each}}

    </article>

    {{/if}}



    {{#if allMovies}}
    <article class="row justify-content-center">

        {{#each allMovies}}

        {{>movieCard}}

        {{/each}}

    </article>
    {{/if}}
</section>