<section class="container">

    <h2 class="title">Series</h2>
    <br>

    <form action="/series" method="POST" class="input-group mb-3">
        <input name="search" type="text" class="form-control" placeholder="Search a series..."
            aria-describedby="search-series">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-series">Search</button>
        </div>
    </form>



    {{#if searchResults}}
    <br>
    <hr>
    <h4>Search results:</h4>

    <article class="row justify-content-center">

        {{#each searchResults}}

        {{>seriesCard}}

        {{/each}}

    </article>

    {{/if}}

    {{#if allSeries}}
    <article class="row justify-content-center">

        {{#each allSeries}}

        {{>seriesCard}}

        {{/each}}

    </article>
    {{/if}}
</section>