<section class="container">
    <article class="row justify-content-center">
        <div class="col-md-3">
            <img class="card-img-top" src='https://image.tmdb.org/t/p/w300{{poster_path}}' alt="serie image cap"
                style="object-fit: cover; width: 100%;">
        </div>
        <div class="col-md-8">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h2 class="card-title">{{title}}</h2>
                    <p class="card-text">Released: {{first_air_date}}</p>
                    <p class="card-text">{{overview}}</p>
                </div>
            </div>

        </div>

    </article>

</section>